@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/RobotoMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SonySketch";
  src: url("../fonts/Sony_Sketch_EF.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceAge";
  src: url("../fonts/space_age.ttf") format("truetype");
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../fonts/PermanentMarker-Regular.ttf") format("truetype");
}

:root {
  --textColor: hsl(180, 20%, 96%);
  --strongColor: hsl(180, 20%, 96%);
  --linkColor: hsl(273, 80%, 80%);
  --button: hsl(180, 100%, 60%);
  --highlight: hsl(180, 100%, 50%);
  --box-shadow: hsla(180, 100%, 50%, 0.251);
  --backgroundAlt: hsl(273, 100%, 8%);
  --background: hsl(273, 100%, 3%);
  --scrollbar: hsl(273, 100%, 50%);
}
*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight);
}

html,
body {
  background-color: var(--background);
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

body {
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-feature-settings: "tnum" 1, "ss03" 1;
  -webkit-font-smoothing: antialiased;

  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
}

.brand-name {
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "SonySketch";
}

[type="button"]:not(:disabled) {
  cursor: pointer;
}

@media (min-width: 1100px) {
  body {
    margin-left: 300px !important;
  }
}
